@tailwind base;
@tailwind components;
@tailwind utilities;

/* Small custom classes */
:root{
  --glass: rgba(255,255,255,0.7);
}

html,body,#root {
  height: 100%;
}

.hero-bg {
  background-image: radial-gradient(circle at 10% 10%, rgba(99,102,241,0.08), transparent 10%),
    radial-gradient(circle at 90% 90%, rgba(56,189,248,0.06), transparent 12%);
}
