@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.navbar {
  width: 100%;
  background: rgba(255,255,255,0.15);
  backdrop-filter: blur(12px);
  padding: 12px 20px;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

/* Desktop menu */
.nav-links {
  display: flex;
  gap: 26px;
  list-style: none;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #a3d8ff;
  transform: translateY(-2px);
}

/* Hamburger Icon */
.nav-toggle {
  width: 30px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.bar {
  height: 4px;
  width: 100%;
  background: white;
  border-radius: 5px;
  transition: 0.4s;
}

/* Mobile view */
@media (max-width: 850px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    width: 65%;
    background: rgba(0, 0, 0, 0.7);
    flex-direction: column;
    padding: 20px;
    display: none;
    border-radius: 10px 0 0 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-toggle {
    display: flex;
  }
}
